<div class="container">
    <div class="card " style="width: 18rem;">
        <div class="card-body">
          <div class="card-text">
              <span class="amount">₹ 250</span> 
                <div class="paid">
                    <img src="https://www.shareicon.net/data/2016/09/14/829062_office_512x512.png" alt="">
                    <span>You Recieved</span>
                </div>
          </div>
          <div class="transiction">
            <img src="https://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="">
            <button >Pay</button>
            <button>Decline</button>
          </div>
        </div>
      </div>
      <div class="date">
        20 Nov 2020
      </div>
</div>
