<div class="container ">
    <div class="card " style="width: 18rem;">
        <div class="card-body">
          <div class="card-text">
              <span class="amount">₹ 250</span> 
                <div class="paid">
                    <img src="http://www.clipartbest.com/cliparts/eiM/yMg/eiMyMg9aT.png" alt="">
                    <span>You Recieved</span>
                </div>
          </div>
          <div class="transiction">
            <img src="https://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="">
            <div>transiction ID</div>
            <div>A134356788987633257</div>
          </div>
        </div>
    </div>
    <div class="date">
      19 Nov 2020
    </div>
    
</div>
