<div class="main">
<table class="table ">
  <tbody>
    <tr>
      <td>
        <div id="element1">
          <img src="https://img.icons8.com/ios-glyphs/30/undefined/arrow-pointing-left--v2.png"/>
       </div>
       <div class="circle">
          J
       </div>
       <div id="element2">
        John Doe <br>
        +91 7672 2345
     </div>
      </td>
    </tr>
    <tr>
      <td>
        <app-send></app-send>
      </td>
    </tr>
    <tr>
      <td>
        <app-sent-request></app-sent-request>
      <td>
    </tr>
    <tr>
      <td>
        <app-recieve></app-recieve>
      </td>
    </tr>
    <tr>
        <td>
            <app-recieve-request></app-recieve-request>
        </td>
      </tr>
  </tbody>
</table>
</div>